.App {
    text-align: center;
    font-family: Arial, serif;
    background: url("../../assets/фон.png");
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 20px 0;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: #ffffff;
    text-shadow: 0 1px 1px #ffffff;
}

.menu {
    margin-top: 20px;
    font-size: 32px;
    padding: 10px 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.menu__item{
    padding: 20px 10px;
    border-radius: 10px;
}

.link-text {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    font-family: Century Gothic, serif;
    letter-spacing: 5px;
}

.link-text:hover{
    color: black;
}
.menu__item:nth-child(odd){
    transform: perspective(400px) rotateY(45deg);
    box-shadow: -2px 2px 7px gray;
    margin-bottom: 20px;
    background-color: burlywood;
}
.menu__item:nth-child(even){
    transform: perspective(400px) rotateY(-45deg);
    box-shadow: 2px 2px 7px gray;
    background-color: #23b56d;
}
.menu__item:hover{
    transform: rotateY(0);
    color: black;
    box-shadow: 0 0 0;
    background-color: rgba(255, 255, 255, 0);
}
.menu__item:hover .link-text {
    color: black;
}